* {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.form-container-header form {
  display: flex;
}

#trybewarts-header-title {
  color: white;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: space-between;
}

#trybewarts-forms-logo {
  height: 500px;
}

main form div {
  margin-bottom: 10px;
}
main p{
  display: block;
}